<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Inviter Overlaps

    <a data-toggle="collapse" href="#user_inviter_overlaps_new_form">
      Add overlap
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.inviter_overlaps.each do |overlap| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/overlaps/<%= overlap.id %>">
          <%= overlap.inviter_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
