<h1>
  Add a new overlap
</h1>


<hr>

<!-- Form overlap start -->
<form action="/create_overlap" method="post">
<!-- Form overlap end -->

  <!-- Label and input for inviter_id start -->
  <div class="form-group">
    <label for="inviter_id">
      Inviter
    </label>

    <!-- Input for inviter_id start -->
    <%= select_tag(:inviter_id, options_from_collection_for_select(User.all, :id, :email, @overlap.inviter_id), :class => "form-control") %>
    <!-- Input for inviter_id end -->
  </div>
  <!-- Label and input for inviter_id end -->

  <!-- Label and input for invited_id start -->
  <div class="form-group">
    <label for="invited_id">
      Invited
    </label>

    <!-- Input for invited_id start -->
    <input type="text" id="invited_id" name="invited_id" class="form-control">
    <!-- Input for invited_id end -->
  </div>
  <!-- Label and input for invited_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for start_time start -->
  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <!-- Input for start_time start -->
    <input type="text" id="start_time" name="start_time" class="form-control">
    <!-- Input for start_time end -->
  </div>
  <!-- Label and input for start_time end -->

  <!-- Label and input for end_time start -->
  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <!-- Input for end_time start -->
    <input type="text" id="end_time" name="end_time" class="form-control">
    <!-- Input for end_time end -->
  </div>
  <!-- Label and input for end_time end -->

  <button class="btn btn-block btn-outline-secondary">
    Create overlap
  </button>
</form>

<hr>

<a href="/overlaps">
  Go back
</a>
